.SearchButton {
  max-width: 160px;
  width: 90%;
  padding: 12px 24px;
  color: var(--neutral-000, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  border-radius: 100px;
  background: var(--brand-green-500, #025b4b);
}

@media (max-width: 480px) {
  .SearchButton {
    max-width: 100%;
    width: 100%;
  }
}
