.ActionBar {
  background-color: white;
  border-radius: 16px;
  width: 100%;
  height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  margin-bottom: 12px;
  min-width: 400px;
  max-width: 800px;
}

.ActionBarLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

.Dropdown {
  padding-left: 30px;
  border-left: 1px solid #d4d8d9;
}

.DatePicker {
  padding-right: 30px;
}

.ActionBarRight {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.DatePicker,
.Dropdown {
  display: flex;
  justify-content: center;
  width: 236px;
}

select,
input {
  width: 80%;
  text-align-last: center;
  font-family: Poppins;
  font-size: 16px;
}

input {
  border: 0;
}

@media (max-width: 480px) {
  .ActionBar {
    flex-direction: column;
    height: 228px;
  }

  .ActionBarLeft {
    flex-direction: column;
  }

  .ActionBarRight {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Dropdown {
    border-left: 0;
    padding-left: 0px;
  }

  .DatePicker {
    padding-right: 0px;
  }

  .DatePicker,
  .Dropdown {
    display: flex;
    justify-content: center;
    width: 236px;
  }
}
